<footer>
	<div class="well well-sm">
		<small>
			Heaven's Healthy
		</small>
		<ul class="nav nav-justified nav-pills">
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "Sign Up", signup_path %></li>
		</ul>
	</div>
</footer>